<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- 1. Enrutar llamadas a la API hacia la aplicación de backend apiDosier en IIS -->
        <rule name="API Proxy DOSIER" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="/apiDosier/api/{R:1}" />
        </rule>

        <!-- 2. Enrutar WebSockets / SignalR Hubs hacia apiDosier -->
        <rule name="Hubs Proxy DOSIER" stopProcessing="true">
          <match url="^hubs/(.*)" />
          <action type="Rewrite" url="/apiDosier/hubs/{R:1}" />
        </rule>

        <!-- 3. Reescritura para rutas de React Router (SPA HTML5 History API) -->
        <rule name="React Routes DOSIER" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/dosier/index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <remove fileExtension=".mp3" />
      <mimeMap fileExtension=".mp3" mimeType="audio/mpeg" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>
